@import "../../../assets/css/base.vars.scss";

$background-color-black: $color-black-26;
$background-color-white: $color-bg;


$btn-info-color-black: $color-black-17;
$btn-info-color-white: $color-tag-bg;


$font-color-black: $color-inverse-text;
$font-color-white: $color-text-black;


$chart-color-black: $color-black-17;
$chart-color-white: $color-bg;


$box-shadow-black: $color-gray-shadow;
$box-shadow-white: $color-line;