// 默认场景颜色
$color-primary: #42A9F4;
// 默认成功场景颜色
$color-success-plain: #c2e7b0;
$color-success: #84C137;
$color-bg-plain: #f0f9eb;
// 默认提示场景颜色
// 默认危险，错误。场景颜色
$color-warning: #FFA400;
// 默认其他场景颜色
$color-danger: #F95C36;
// layout 背景颜色配置
$color-info: #00B3CB;
$color-dark: #212931;
// 默认字体颜色
$color-text: #394754;
// 这个默认字体颜色感觉可以考虑下
$color-text1: #606266;
// 默认字体颜色反色
$color-inverse-text: #fff;
// 背景或者text颜色
$color-bg: #fff;
// label 灰色快
$color-label-bg: #f1f4fa;
// tag 灰色块
$color-tag-bg: #dbdee5;
// 线条颜色
$color-line: #dcdfe6;
// 颜色比较深的线条颜色
$color-lineDark: #E3E3E3;
// 其他颜色
$color-blue: #4C80F8;
$color-black: #000000;
$color-black-26: #262626;
$color-black-17: #171717;
$color-black-05: #050505;
$color-black-33: #333333;
$color-black-1F: #1F1F1F;
$color-text-black: #384857;
$color-purple: #B95EC8;
$color-mint: #189E92;
$color-flesh: #FD925E;
$color-pink: #EE3373;
$color-purple: #272049;
$color-light-purple: #343475;
$color-deep-purple: #0A0329;
$color-gray-shadow: #44464a;
$color-gray-placeholder: #C0C4CC;
$color-purple-shadow: #88a1d4;

$color-flesh-hover: #FFB089;
$color-pink: #EE3373;
$color-pink-hover: #F47BA5;
$color-white: #fff;

$color-disabled: #bbbec4;

$color-plain-bg: #ecf6fe;
$color-plain-border: #b3ddfb;

$color-sys-btn-hover:#42A9F4;
$color-black-blue: #004276;

$color-icon-right: #c0c4cc;
$color-disabled-bg: #f5f7fa;
$color-disabled-border: #e4e7ed;
